{% extends "layout.html" %} {% block body %}

<h1 class='bg-success text-white'>
    <div id='status'> 札</div>
    User: {{ "anonoymous " if current_user.is_anonymous else current_user.name}} {% if current_user.is_anonymous %}
    <a href='/auth/login' class='text-success float-right'> Login </a> {% endif %}
</h1>
<div id='loader'></div>
<table class="table ">
    <thead class='text-light bg-primary'>
        <tr>
            <th scope="col"> 札番号 </th>
            <th scope="col"> 開始時刻 </th>
            <th scope="col"> 終了時刻 </th>
            <th scope="col"> 残り時間 </th>
            {% if not current_user.is_anonymous%}
            <th scope="col"> 削除ボタン </th>
            {% endif%}
        </tr>
    </thead>

    <tbody id='contents' class='bg-secondary text-white'>
    </tbody>
</table>


{% if not current_user.is_anonymous%}
<button type="button" class="btn btn-primary btn-block" onclick='add_open()'>追加</button>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label1">削除</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">

                <div id="id"> </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-primary" onclick='del_ok()'>YES</button>
            </div>
        </div>
    </div>
</div>
</div>


<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="label2">追加</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary" id="add_button" onclick='add_execute()'>Action</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
                    <div class="dropdown-menu scrollable-menu" id='addable'>
                        {% for i in range(30) %}

                        <a class="dropdown-item scrollable-menu adt" id='ad{{i}}' href='JavaScript:chbutton({{i}})'>{{i}}</a> {% endfor %}
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>


        </div>
    </div>
</div>
{% endif %} {% endblock %} 
{% block script%}
<script>
    {% if not current_user.is_anonymous %}

    function del_mod(id) {

        $('#id').text(id + "を削除しますか?");
        $('#id').val(id);

        $('#modal1').modal();
        $('#modal1').toggle();

        $('#modal1').show();
    };

    function add_open() {
        $('#add_button').text("札番号を選択してください ");
        $('#add_button').prop("disabled", true);
        $('#modal2').modal();
        $('#modal2').toggle();

        $('#modal2').show();
    };

    function add_execute() {
        var id = $('#add_button').val()
        $('#add_button').prop("disabled", true);
        $('#add_button').text("送信中");

        var request = new XMLHttpRequest();
        request.open('GET', "/api/set/" + id, true)
        request.onload = function() {
            var data = this.response;
            $('#status').text("追加結果:" + data);
            close_add();
            reload();


        };
        request.send()


    }




    function del_ok() {
        var id = $('#id').val()
        $('#id').text("送信中")
        var request = new XMLHttpRequest();
        request.open('GET', "/api/remove/" + id, true)
        request.onload = function() {
            var data = this.response;


            $('#status').text("削除結果:" + data);
            close();
            reload();


        };
        request.send()
    }



    function chbutton(id) {
        $('#add_button').val(id);
        $('#add_button').text(id + "を追加する");
        $('#add_button').prop("disabled", false);


    }



    function close() {
        $('body').removeClass('modal-open'); // 1
        $('.modal-backdrop').remove();
        $('#modal1').toggle(); // 2
        $('#modal1').modal('hide');
    }

    function close_add() {
        $('body').removeClass('modal-open'); // 1
        $('.modal-backdrop').remove();
        $('#modal2').toggle(); // 2
        $('#modal2').modal('hide');
    }




    function set_addoption() {
        $('.adt').removeClass('d-none')
        $('#contents').find('th').each(function(index) {
            $('#ad' + ($(this).text())).addClass('d-none')

        })
    }

    {% endif %}

    function reload() {
        $('#loader').html('<div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>Loading...')

        var request = new XMLHttpRequest();
        request.open('GET', "/api/contents", true)
        request.onload = function() {
            var data = this.response;

            $('#contents').html(data)
            $('#loader').html('') 
            {% if not current_user.is_anonymous %}
            set_addoption() 
            {% endif %}
        };
        request.send()


    }
    reload();


    window.onload = function() {

        setInterval("reload()", 1000 * 60);
    }
</script>


{% endblock %}